body {
  background-color: salmon;
}
img{
  display: block;
}
a{
  text-decoration: none;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  background-color: #034234;
}
  /* btn design system */
header {
  width: 100%;
  background-color: salmon;
  position: fixed;
  top: 0;
  z-index: 9;
  position: fixed;
  /* z-index 알아보기 */  
}
header > .inner {
    height: 100px;
    border-bottom: 5px;
    background-color:bisque;          
}
header .inner .container--header .logo {  
  transform: scale(0.4) translateY(-20px);
  margin-left: -100px;    
}
section {  
  margin-top: 100px;
  width: 100%;  
  background-color: salmon;
  margin-bottom: 40px;  
}
.visual > .inner {
  background-image: url(../acceptable_poster_1.png);
  height: 1650px;
}

.visual--two > .inner {
  height: 733.33px;
  padding: 40px 0 60px 0;
  background-image: url(../try.png);
  background-repeat: no-repeat;
  padding: 0px;
  margin-bottom: 40px;
 }
footer {
  background-color: salmon;  
}
footer .inner {
  height: 618.75px;
  padding: 40px 0 60px 0;
  background-image: url(../hi.jpg);
  background-repeat: no-repeat;
  padding: 0px;
  margin-bottom: 40px;
}